html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

a {
  &:visited,
  &:active {
    text-decoration: none;
    color: #9e8323;
  }

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: 700px;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 30px
}

p {
  line-height: 1.3;
}
